@import url("./primitives-palette.css");
@import url("./primitives-other.css");
@import url("./tokens.css");
@import url("./components.css");

:root {
  --external-link-color-default: var(--colors-blue-gray-11);
  --header-literal-link-color-default: var(--colors-blue-8);
  --external-link-color-local-radio: oklch(55.34% 0.096 155.44deg);
  --external-link-color-emtseva: oklch(89.17% 0 0deg);
  --external-link-color-dobroarch: oklch(42.13% 0.121 23.93deg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --external-link-color-default: var(--colors-gray-3);
    --header-literal-link-color-default: var(--colors-blue-7);
    --external-link-color-local-radio: oklch(55.34% 0.096 155.44deg);
    --external-link-color-emtseva: oklch(56.7% 0 0deg);
    --external-link-color-dobroarch: oklch(52.13% 0.16 23.93deg);
  }
}
