:root {
  /* Mode 1 */

  /* colors */
  --colors-base-black: hsl(0deg 0% 0%);
  --colors-base-white: hsl(0deg 0 100%);
  --colors-blue-1: hsl(224deg 100% 97%);
  --colors-blue-10: hsl(231deg 60% 40%);
  --colors-blue-11: hsl(232deg 65% 32%);
  --colors-blue-12: hsl(234deg 70% 25%);
  --colors-blue-13: hsl(236deg 77% 17%);
  --colors-blue-14: hsl(239deg 85% 10%);
  --colors-blue-15: hsl(240deg 91% 4%);
  --colors-blue-2: hsl(223deg 100% 91%);
  --colors-blue-3: hsl(224deg 100% 86%);
  --colors-blue-4: hsl(225deg 100% 81%);
  --colors-blue-5: hsl(226deg 91% 75%);
  --colors-blue-6: hsl(227deg 80% 68%);
  --colors-blue-7: hsl(228deg 69% 62%);
  --colors-blue-8: hsl(229deg 59% 55%);
  --colors-blue-9: hsl(230deg 55% 47%);
  --colors-blue-source: hsl(229deg 59% 55%);
  --colors-blue-gray-1: hsl(240deg 16% 96%);
  --colors-blue-gray-10: hsl(230deg 15% 32%);
  --colors-blue-gray-11: hsl(232deg 17% 25%);
  --colors-blue-gray-12: hsl(230deg 19% 18%);
  --colors-blue-gray-13: hsl(231deg 23% 12%);
  --colors-blue-gray-14: hsl(228deg 31% 6%);
  --colors-blue-gray-15: hsl(240deg 33% 2%);
  --colors-blue-gray-2: hsl(233deg 16% 89%);
  --colors-blue-gray-3: hsl(231deg 15% 82%);
  --colors-blue-gray-4: hsl(231deg 15% 74%);
  --colors-blue-gray-5: hsl(232deg 13% 67%);
  --colors-blue-gray-6: hsl(230deg 12% 60%);
  --colors-blue-gray-7: hsl(229deg 11% 53%);
  --colors-blue-gray-8: hsl(231deg 12% 46%);
  --colors-blue-gray-9: hsl(231deg 13% 39%);
  --colors-blue-gray-source: hsl(230deg 58% 90%);
  --colors-gray-1: hsl(0deg 0 96%);
  --colors-gray-10: hsl(220deg 2% 29%);
  --colors-gray-11: hsl(210deg 2% 23%);
  --colors-gray-12: hsl(210deg 2% 16%);
  --colors-gray-13: hsl(240deg 2% 11%);
  --colors-gray-14: hsl(240deg 4% 5%);
  --colors-gray-15: hsl(0deg 0 1%);
  --colors-gray-2: hsl(0deg 0 88%);
  --colors-gray-3: hsl(210deg 2% 80%);
  --colors-gray-4: hsl(210deg 1% 72%);
  --colors-gray-5: hsl(240deg 1% 65%);
  --colors-gray-6: hsl(240deg 1% 57%);
  --colors-gray-7: hsl(220deg 1% 50%);
  --colors-gray-8: hsl(220deg 1% 43%);
  --colors-gray-9: hsl(220deg 2% 36%);
  --colors-gray-source: hsl(220deg 14% 96%);
  --colors-green-1: hsl(120deg 30% 95%);
  --colors-green-10: hsl(132deg 60% 22%);
  --colors-green-11: hsl(135deg 84% 15%);
  --colors-green-12: hsl(132deg 100% 10%);
  --colors-green-13: hsl(127deg 100% 7%);
  --colors-green-14: hsl(123deg 100% 4%);
  --colors-green-15: hsl(120deg 100% 1%);
  --colors-green-2: hsl(123deg 28% 86%);
  --colors-green-3: hsl(124deg 28% 78%);
  --colors-green-4: hsl(124deg 27% 69%);
  --colors-green-5: hsl(125deg 25% 61%);
  --colors-green-6: hsl(125deg 24% 52%);
  --colors-green-7: hsl(127deg 28% 44%);
  --colors-green-8: hsl(128deg 36% 36%);
  --colors-green-9: hsl(129deg 46% 29%);
  --colors-green-source: hsl(127deg 31% 43%);
  --colors-red-1: hsl(11deg 100% 97%);
  --colors-red-10: hsl(3deg 78% 30%);
  --colors-red-11: hsl(1deg 95% 23%);
  --colors-red-12: hsl(0deg 100% 17%);
  --colors-red-13: hsl(0deg 100% 12%);
  --colors-red-14: hsl(0deg 100% 7%);
  --colors-red-15: hsl(0deg 100% 3%);
  --colors-red-2: hsl(8deg 92% 90%);
  --colors-red-3: hsl(8deg 84% 83%);
  --colors-red-4: hsl(8deg 77% 76%);
  --colors-red-5: hsl(8deg 69% 69%);
  --colors-red-6: hsl(7deg 62% 61%);
  --colors-red-7: hsl(6deg 54% 53%);
  --colors-red-8: hsl(5deg 56% 46%);
  --colors-red-9: hsl(4deg 66% 38%);
  --colors-red-source: hsl(5deg 58% 44%);
  --colors-yellow-1: hsl(51deg 45% 94%);
  --colors-yellow-10: hsl(46deg 100% 18%);
  --colors-yellow-11: hsl(45deg 100% 15%);
  --colors-yellow-12: hsl(42deg 100% 11%);
  --colors-yellow-13: hsl(40deg 100% 8%);
  --colors-yellow-14: hsl(34deg 100% 4%);
  --colors-yellow-15: hsl(30deg 100% 1%);
  --colors-yellow-2: hsl(52deg 43% 83%);
  --colors-yellow-3: hsl(51deg 43% 72%);
  --colors-yellow-4: hsl(52deg 43% 61%);
  --colors-yellow-5: hsl(51deg 43% 50%);
  --colors-yellow-6: hsl(52deg 76% 37%);
  --colors-yellow-7: hsl(51deg 100% 29%);
  --colors-yellow-8: hsl(50deg 100% 25%);
  --colors-yellow-9: hsl(48deg 100% 22%);
  --colors-yellow-source: hsl(51deg 94% 68%);
}
