.icon {
  display: flex;
  position: relative;
}

.icon-size-extra-small {
  width: var(--icon-size-extra-small, 14px);
  height: var(--icon-size-extra-small, 14px);
}

.icon-size-small {
  width: var(--icon-size-small, 18px);
  height: var(--icon-size-small, 18px);
}

.icon-size-medium {
  width: var(--icon-size-small, 18px);
  height: var(--icon-size-small, 18px);
}

.icon-size-large {
  width: var(--icon-size-small, 18px);
  height: var(--icon-size-small, 18px);
}

.icon-size-extra-large {
  width: var(--icon-size-extra-large, 18px);
  height: var(--icon-size-extra-large, 18px);
}
