.label {
  color: var(--form-text-field-validation-default-text-value);
}

.label-size-medium {
  font-size: var(--typography-body-medium-font-size);
  line-height: var(--typography-body-medium-line-height);
  font-weight: var(--typography-font-weight-medium);
}

.label-size-large {
  font-size: var(--typography-body-large-font-size);
  line-height: var(--typography-body-large-line-height);
  font-weight: var(--typography-font-weight-medium);
}

.label-required-sign-appearance-default {
  color: var(--form-text-field-validation-default-text-value);
}

.label-required-sign-appearance-colorized {
  color: var(--form-text-field-validation-invalid-text-external-text);
}
